*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*=============Navbar Styles start===========*/

.navbar-header img{
    width: 70px;
}
.navbar {
    background: greenyellow!important;
}
.navbar button{
    border: none!important;
    background: transparent!important;
}
.navbar .icon-bar{
    font-weight: bolder ;
}
.navbar{
    border-bottom: none!important;
    display: inline;

}
.navbar-inverse .navbar-collapse{
    border-color: transparent !important;
 }
 .navbar .navbar-nav{
     margin-left: 50px;
     padding-top: 3px;
     display: block;
     float: left;
 }
 .navbar-nav li a{
     color: black!important;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 15px;
     text-decoration: none!important;
     display: block;
     float: left;
     
 }
 
 }
 .navbar-nav li a:hover{
     background: tomato!important;
     transition: all ease-in 0.8s;
 }
 .search{
     float: right;
     margin-top: -40px;
     margin-right: -35px;
 }
 .carousel-section{
     background: linear-gradient(rgba(186, 186, 226, 0.8),rgba(196, 171, 171, 0.9) ), url("../images/1.jpg");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     padding: 70px;
     margin-top: 50px;
     
     
 }
.carousel-inner .item p{
    padding: 100px 0px 40px 0px ;
    text-align: left;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;

}
.item button{
    width: 150px;
    height: 50px;
    background-color: greenyellow;
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin-right:100px;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-top: -90px;
    
    
}
 ol.carousel-indicators li{
    left:50px ;
    background-color: black!important;
    font-size: 50px;
    background-clip: border-box;
    border-color: transparent;
    margin-top: 20px;
}
ol.carousel-indicators .active{
    background-color: tomato!important;
    background-clip: border-box;
}
ol.carousel-indicators{
    margin-left: 10px;
    margin-bottom: -50px;
}

/*=============Navbar Styles End===========*/

.about{
    background: rgba(186, 186, 226, 0.6);
    padding: 50px 0px;
}

.about-body a:before,
.about-body a.collapsed:before
{
    content: "View Less";
    position: absolute;
    left: 5px;
    color: tomato!important;
    text-decoration: underline;
    transition: all ease-in 0.6s;
    margin-bottom: 15px;
    font-weight: bold;
}
.about-body a.collapsed:before{
    content: "Learn more";
}
.about-body a{
    padding-left: 60px;
    text-decoration: none!important;
    color: transparent!important;
}
.about-body a:hover{
    text-decoration: none;
}
.about img{
    margin-top: 27px;
    height: 250px;
    width: 100%;
    
}
.about-title{
    color: tomato;
    font-size: 25px;
    font-weight: bold;
}
.final-text{
    font-size: 25px;
    padding-top: 40px;
    font-weight: bold;
}
.footer-part{
    background: greenyellow;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}
.footer-text{
    padding-top: 150px;
    padding-left: 10px;
}
